:root {
  --vh: 100%;
  /*height: calc(var(--vh,1vh)*100);*/
}

.Home {
  text-align: center;
  background-color: #263a6f;
  width: 100%;
  height: 100vh;
}

.title {
  position: relative;
  top: 7vh;
  text-align: center;
  color: white;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
}

.sub0 {
  white-space: pre-wrap;
  position: relative;
  top: 12vh;
  color: white;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
}

.mainimg {
  margin: 0 auto;
  /*margin > 이미지 중앙정렬, text-align하니까 안됨..*/
  width: 277px;
  height: 372px;
  margin-top: 8vh;
}

.startButton {
  position: relative;
  margin: 0 auto;
  top: 12vh;
  width: 200px;
  height: 40px;
  background: #a6dff8;
  border-radius: 50px;
}
.startButton:hover {
  background: #f6abcc;
}

.name {
  position: relative;
  top: 17vh;

  color: white;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
}
